.lead{
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: calc(984px - (1280px - min(100vw,1280px)) * (56 / 256));
}

@media (max-width: 1024px){
  .lead{
   max-width: 928px;  
  }
}
@media (max-width: 512px){
  .lead{
    padding-top: 32px;
    padding-bottom: 0;

  }
}