.place__url-heading{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin-block-start: 0;
  margin-block-end: 12px;
  text-transform: uppercase;
}