.footer__menu_str{
padding-right: 18px;
}

.footer__menu_str:last-child{
  padding-right: 0;

}

@media (max-width: 768px){
  .footer__menu_str{
padding-right: 4px;
}

}@media (max-width: 512px){
  .footer__menu_str{
padding-bottom: 32px;
}

}