.footer__menu{
  display: flex;
  flex-direction: row;
  list-style-type: none;
padding-inline-start: 0;
margin-block-start: 0;
margin-block-end: 0;

}

@media (max-width: 680px){
.footer__menu{
  flex-direction: column;
}
}