.place{
  display: grid;
  grid-template-columns: calc(460px - (1280px - min(100vw,1280px)) * (20 / 256)) 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}
.place:last-child{
  padding-bottom: 0;
}
@media (max-width:1024px){
 .place{
  grid-template-columns: calc(440px - (1024px - min(100vw,1024px)) * (100 / 256)) 1fr;
  column-gap: 32px;
} 
}
@media (max-width:768px){
 .place{
  column-gap: 28px;
} 
}

@media (max-width:512px){
 .place{
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 0px;
  row-gap: 32px;
 } 
}