.footer__link{
  font-style: normal;
  font-weight: normal;
  font-size: calc(16px - (768px - min(100vw,768px)) * (3 / 256));
  line-height: calc(18px - (768px - min(100vw,768px)) * (4 / 256));
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover{
  opacity: 0.8;
}

@media (max-width: 680px){
  .footer__link{
    font-size: 24px;
    line-height: 24px;
 
  }
}