.cover__title{
  position: relative;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: calc(72px - (768px - min(100vw,768px)) * (40 / 448));
line-height: calc(76px - (768px - min(100vw,768px)) * (41 / 448));

/* or 106% */

text-align: center;

color: #FFFFFF;
max-width: calc(560px - (768px - min(100vw,768px)) * (325 / 448));
margin-block-start: 0;
margin-block-end: 0;
}